header{
    text-align: center;
    font-size: 100px;
    background-color: blue;
}
#contentLeft{
    border: 15px solid black;
    padding: 25px;
}
button{
    font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  background-color: yellow;
}
body{
    background-color: tan;
}